{% extends "base.html" %}
{% import "_macros.html" as macros  %}

{% block content %}
<div class="auth-login-wrapper"
  <div class="container">
    <div class="login-form">
      <h1>Log In</h1>
      <form method='POST'>
        {{form.hidden_tag()}}

        <div class="form-group">
          {{form.email.label}}
          {{form.email(class="form-control")}}
        </div>
        {{macros.error_msg(form.email)}}

        <div class="form-group">
          {{form.password.label}}
          {{form.password(class="form-control")}}
        </div>
        {{macros.error_msg(form.password)}}

        <div class="form-group form-check">
          {{form.remember_me(class="form-check-input")}}
          {{form.remember_me.label(class="form-check-label")}}
        </div>

        {{form.submit(class="btn btn-primary")}}
      </form>
      <br>
      <p>
        New user?
        <a href= "{{url_for('auth.register')}}">
          Click here to register.
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}