body {
  overflow-x:hidden;
  margin:0;
  background-image: url('/static/images/base_background.jpg');
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
  height:100vh;
  
  display:flex;
  flex-direction:column;

  font-family: 'Playfair Display', serif;

}

/* ---------- BASE.HTML ---------- */
/* Navigation CSS */
.navbar {
  font-weight:700;
  letter-spacing: .1rem;
  font-size: 1.1rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

nav .navbar-nav li a{
  color: white !important;
}

/* Landing Page */
.content-container {
  flex:1;
}


/* ---------- core/index.html ---------- */
.index-page-wrapper {
  height:100%;
  width:100%;

  display:flex;
  justify-content:center;
  align-items:center;
}

.search-box {
  width:50%;
  position:relative;

}

.search-box input[type="text"]{
  padding:10px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.3);
  border: 2px solid #fff;
  border-radius:10px;

  font-size:18px;
  color:#fff;
  flex:11;
  margin-right:3px;
}

.search-box button {
  flex:1;
  border-radius:10px;
  background: rgba(0,0,0,0.3);
  color:#33C4FF;
  font-size:20px;
}

.search-box button:hover {
  background: #33C4FF;
  color:white;
}

.search-box form {
  display:flex;
  justify-content:space-between;
}

/* ---------- foods/list.html ---------- */
.foods-list-wrapper {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.foods-list-wrapper .food-entries {
  display:flex;
  justify-content:space-evenly;
  margin:10%;
  margin-top:0;
}

.foods-list-wrapper .food-entries .entry {
  color:white;
  border:solid black 1px;
  display:flex;
  border-radius:10px;
  overflow:hidden;
}

.foods-list-wrapper .food-entries .entry .text-container {
  flex:1;
  display:flex;
  flex-direction:column;
  padding:1%;
  text-align:center;
  justify-content:center;
  align-items:center;
  background: rgba(0,0,0,0.3);
}

.foods-list-wrapper .food-entries .entry .img-container {
  flex:2;
  display:flex;
  justify-content:center;
  align-items:center;
  background: white;

}

.foods-list-wrapper .food-entries .entry .img-container img {
  max-height:100%;
  max-width:100%;
}

.foods-list-wrapper .filter-search-tool-bar {
  margin:5px;
}

.foods-list-wrapper .intro-text {
  color:white;
  text-align:center;
  margin-top:15px;
}

/* ---------- foods/food.html ---------- */
.foods-food-wrapper {
  width:100%;
  height:100%;
}

.foods-food-wrapper .jumbotron-body {
  display:flex;
}

.foods-food-wrapper .jumbotron-body-text {
  flex:1;
}

.foods-food-wrapper .jumbotron-body-img {
  flex:2;
  display:flex;
  justify-content:center;
  align-items:center;
}

.foods-food-wrapper .jumbotron-body-img img {
  max-height:100%;
  max-width:100%;
  object-fit:contain;
}

.foods-food-wrapper .jumbotron h1 {
  text-align:center;
}

/* ---------- core/index.html ---------- */
.index-page-wrapper {
  height:100%;
  width:100%;

  display:flex;
  justify-content:center;
  align-items:center;
}

/* ---------- auth/login.html ---------- */
.auth-login-wrapper {
  height:100%;
  width:100%;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.auth-login-wrapper .login-form{
  border: solid white 3px;
  border-radius:10px;
  padding:3%;
}

/* ---------- auth/register.html ---------- */
.auth-register-wrapper {
  height:100%;
  width:100%;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.auth-register-wrapper .register-form{
  border: solid white 3px;
  border-radius:10px;
  padding:3%;
}