body {
  overflow-x:hidden;
  margin:0;
  background-image: url('/static/images/base_background.jpg');
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
  height:100vh;
  
  display:flex;
  flex-direction:column;
}

/* ---------- BASE.HTML STYLING ---------- */
/* Navigation CSS */
.navbar {
  font-weight:700;
  letter-spacing: .1rem;
  font-size: 1.1rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

nav .navbar-nav li a{
  color: white !important;
}

/* Landing Page */
.content-container {
  flex:1;
}

/* ---------- Index.HTML STYLING ---------- */
.index-page-wrapper {
  height:100%;
  width:100%;

  display:flex;
  justify-content:center;
  align-items:center;
}

.search-box {
  width:50%;
  position:relative;

}

.search-box input[type="text"]{
  padding:10px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.3);
  border: 2px solid #fff;
  border-radius:10px;

  font-size:18px;
  color:#fff;
  flex:9;
  margin-right:3px;
}

.search-box input[type="submit"] {
  flex:1;
  border-radius:10px;
}

.search-box form {
  display:flex;
  justify-content:space-between;
}