{% extends "base.html" %}
{% block content %}
<div class="foods-food-wrapper">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4 text-capitalize">{{food_info.food_name}}</h1>
      <div class="btn-group btn-block">
        <form method="POST">
          {{add_form.hidden_tag()}}
          {{add_form.add(class="btn btn-primary btn-lg btn-block")}}
        </form>
      </div>

      <div class="jumbotron-body">
        <div class="jumbotron-body-text">
          <!-- Nutrition Facts -->
          <hr class="my-4">
          <p class="lead">Calories: {{food_info.nf_calories}} {{nutrient_categories_units.nf_calories}}</p>
          <p class="lead">Total Carbohydrate: {{food_info.nf_total_carbohydrate}} {{nutrient_categories_units.nf_total_carbohydrate}}</p>
          <p class="lead">Protein: {{food_info.nf_protein}} {{nutrient_categories_units.nf_protein}}</p>
          <p class="lead">Sodium: {{food_info.nf_sodium}} {{nutrient_categories_units.nf_sodium}}</p>
          <p class="lead">Sugars: {{food_info.nf_sugars}} {{nutrient_categories_units.nf_sugars}}</p>
          <p class="lead">Total Fat: {{food_info.nf_total_fat}} {{nutrient_categories_units.nf_total_fat}}</p>
          <p class="lead">Saturated Fat: {{food_info.nf_saturated_fat}} {{nutrient_categories_units.nf_saturated_fat}}</p>
          <p class="lead">Dietary Fiber: {{food_info.nf_dietary_fiber}} {{nutrient_categories_units.nf_dietary_fiber}}</p>

          <!-- Serving Quantity and Unit Form -->
          <form class="form-inline" method="POST">
            {{form.hidden_tag()}}
            <div class="form-group">
              {{form.serving_qty.label(class="my-1 mr-2")}}
              {{form.serving_qty(class="form-control mb-2 mr-sm-2")}}
            </div>
            <div class="form-group">
              {{form.serving_unit.label(class="my-1 mr-2")}}
              {{form.serving_unit(class="custom-select my-1 mr-sm-2")}}
            </div>
            <div class="form-group">
              {{form.submit(class="btn btn-primary my-1")}}
            </div>
          </form>
        </div>

        <div class="jumbotron-body-img">
          <img class="img-fluid" src="{{food_info.photo.thumb}}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}