{%  extends "base.html" %}
{% import "_macros.html" as macros  %}
{% block content %}
<div class="carts-followed_carts-wrapper">
  <div class="row">
    <div class="col-12">
      <h1 class="header">Carts Of Users Followed By You</h1>
      <hr class="my-4">
    </div>
    <div class="col-12">
      {% include 'carts/_carts.html' %}
    </div>
    <div class="col-12">
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'carts.followed_carts') }}
    </div>
    </div>
    {% endif %}
  </div>
</div>
{%  endblock %}