{%  extends "base.html" %}
{% import "_macros.html" as macros  %}
{% block content %}
<h1>Carts for {{current_user.username}}</h1>
{% for cart in carts %}
  {% with counter=loop.index0 %}
  <h1>Cart {{cart_counter[counter]}}</h1>
  {% for food in cart.foods %}
  <h6>{{food.name}}</h6>
  <p>{{food.nf_calories}}</p>
  {% endfor  %}
  <a class="btn btn-danger" href="{{url_for('carts.delete',id=cart.id)}}">Delete</a>
  {% endwith %}
{% endfor %}

<a class="btn btn-primary" href="{{url_for('carts.add')}}">Add Cart</a>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'carts.list') }}
</div>
{% endif %}

{%  endblock %}