{%  extends "base.html" %}
{% import "_macros.html" as macros  %}
{% block content %}
<div class="carts-list-wrapper">
  <div class="row">
    <div class="col-12">
    <h1 class="header">Carts for @{{user.username}}</h1>
    <!-- Follow and Unfollow buttons -->
      {% if current_user.is_authenticated and current_user != user%}
        {% if not current_user.is_following(user) %}
          <a class="follow-btn btn btn-primary" href="{{url_for('core.follow',username=user.username)}}"
          >
          Follow
          </a>
        {% else %}
          <a class="follow-btn btn btn-primary" href="{{url_for('core.unfollow',username=user.username)}}"
          >
          Unfollow
          </a>
        {% endif %}
      {% endif %}
    </div>
    <!-- Follow Info -->
    <div class="col-12">
      <div class="follow-info">
        <a class="">Followers: <span class="badge badge-light">{{user.followers.count()}}</span></a>
        <a class="">| Following: <span class="badge badge-light">{{user.followed.count()}}</span></a>
        {% if current_user.is_authenticated and user!= current_user and
        user.is_following(current_user) %}
        | <span class="label label-default">Follows you</span>
        {% endif %}
      </div>
    </div>

    <!-- Add Cart and Sort Buttons -->
    <div class="col-12">

      {% if current_user == user %}
      <a class="btn btn-primary add-button" href="{{url_for('carts.add')}}">Add Cart</a>
      {% endif %}

      <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ url_for('carts.list',nutrient='nf_calories',username=user.username) }}">
            Calories
          </a>
          <a class="dropdown-item" href="{{ url_for('carts.list',nutrient='nf_total_fat',username=user.username) }}">
            Total Fat
          </a>
          <a class="dropdown-item" href="{{ url_for('carts.list',nutrient='nf_saturated_fat',username=user.username) }}">
            Saturated Fat
          </a>
          <a class="dropdown-item" href="{{ url_for('carts.list',nutrient='nf_cholesterol',username=user.username) }}">
            Cholesterol
          </a>
          <a class="dropdown-item" href="{{ url_for('carts.list',nutrient='nf_sodium',username=user.username) }}">
            Sodium
          </a>
          <a class="dropdown-item" href="{{ url_for('carts.list',nutrient='nf_total_carbohydrate',username=user.username) }}">
            Total Carbohydrate
          </a>
          <a class="dropdown-item" href="{{ url_for('carts.list',nutrient='nf_dietary_fiber',username=user.username) }}">
            Dietary Fiber
          </a>
          <a class="dropdown-item" href="{{ url_for('carts.list',nutrient='nf_sugars',username=user.username) }}">
            Sugars
          </a>
          <a class="dropdown-item" href="{{ url_for('carts.list',nutrient='nf_protein',username=user.username) }}">
            Protein
          </a>
          <a class="dropdown-item" href="{{ url_for('carts.list',username=user.username) }}">
            None
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="row row-cols-1 row-cols-md-2">
      {% for cart in carts %}

          <div class="col mb-4">
            <div class="card">
              <img src="{{url_for('static',filename='images/cart.svg')}}" class="card-img-top" alt="...">
              {% with counter=loop.index0 %}
              <div class="card-body">
                <h1 class="card-title">Cart {{cart_counter[counter]}}</h1>
                <p class="card-text">
                  Calories: {{cart.nf_calories|round(2)}} {{nutrient_categories_units.nf_calories}}
                </p>
                <p class="card-text">
                  Total Fat: {{cart.nf_total_fat|round(2)}} {{nutrient_categories_units.nf_total_fat}}
                </p>
                <p class="card-text">
                  Saturated Fat: {{cart.nf_saturated_fat|round(2)}} {{nutrient_categories_units.nf_saturated_fat}}
                </p>
                <p class="card-text">
                  Cholesterol: {{cart.nf_cholesterol|round(2)}} {{nutrient_categories_units.nf_cholesterol}}
                </p>
                <p class="card-text">
                  Sodium: {{cart.nf_sodium|round(2)}} {{nutrient_categories_units.nf_sodium}}
                </p>
                <p class="card-text">
                  Total Carbohydrate: {{cart.nf_total_carbohydrate|round(2)}} {{nutrient_categories_units.nf_total_carbohydrate}}
                </p>
                <p class="card-text">
                  Dietary Fiber: {{cart.nf_dietary_fiber|round(2)}} {{nutrient_categories_units.nf_dietary_fiber}}
                </p>
                <p class="card-text">
                  Sugars: {{cart.nf_sugars|round(2)}} {{nutrient_categories_units.nf_sugars}}
                </p>
                <p class="card-text">
                  Protein: {{cart.nf_protein|round(2)}} {{nutrient_categories_units.nf_protein}}           
                </p>
                <a class="btn btn-info" href="{{url_for('carts.cart',id=cart.id)}}">View</a>
                {% if current_user == user %}
                <a class="btn btn-danger" href="{{url_for('carts.delete',id=cart.id)}}">Delete</a>
                {% endif %}
              </div>
              {% endwith %}
            </div>
          </div>

      {% endfor %}

    </div>
  </div>

    {% if pagination %}
    <div class="pagination">
      {% if nutrient == None %}
        {{ macros.pagination_widget(pagination, 'carts.list',username=user.username) }}
      {% else %}
        {{ macros.pagination_widget(pagination, 'carts.list',username=user.username,nutrient=nutrient) }}
      {% endif %}
    </div>
    {% endif %}
  </div>
{%  endblock %}