{% macro pagination_widget(pagination, endpoint, fragment='') %}
<ul class="pagination">
    <li class="{% if not pagination.has_prev %} disabled {% endif %} page-item">
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}" class="page-link">
            &laquo;
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="page-item active">
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}" class="page-link">{{ p }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}" class="page-link">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    <li class="{% if not pagination.has_next %} disabled {% endif %} page-item">
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}" class="page-link">
            &raquo;
        </a>
    </li>
</ul>
{% endmacro %}

{% macro searchbox(form,placeholder) %}
<div class="search-box">
  <form method="POST">
    {{form.hidden_tag()}}
    {{form.query(class="text-input", placeholder=placeholder)}}
    <button type="submit" class="">
      <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
      </svg>
    </button>
  </form>
</div>
{% endmacro %}

{% macro error_msg(field) %}
  {% if field.errors %}
  <div class="errors">
    <div class="error-side"></div>
    <div class="error-center">
      {% for error in field.errors %}
        {{error}}
      {% endfor %}
    </div>
  </div>
  {% endif %}
{% endmacro %}